name: Deploy Go Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git reset --hard
            git pull origin main
            go build -o app ./cmd/server
            sudo systemctl restart sneaker.service
            sudo systemctl status sneaker.service --no-pager
